{% extends 'base.html'%}
{% block content %}
<h1>Posts under catagory <b>{{cats}}</b></h1>
<ul>
    {% if catagory %}
    {% for post in catagory %}
    <li>
        <a href="{% url 'article_details' post.pk %}">{{post.title}}</a> 
        -{{post.author.first_name}} {{post.author.last_name}} 
        {% if user.is_authenticated %}
        <small>
            <a href="{% url 'edit_post' post.pk %}">Edit</a></small>
            <small>
            <a href="{% url 'delete_post' post.pk %}">Delete</a>
        </small>
        {% endif %}
        <br>
        {{post.body|slice:":150"|safe}}
    </li>
    {% endfor %}

    {% else %}
    <li>
        Invalid catagory or catagory does not exists.
    </li>
    {% endif %}
</ul>
{% endblock%}